
.nav-links{
    text-decoration: none;
    font-size: 26pt;
    padding: 10px;
    margin: 0px;
  }

  .screen{
    background-color:rgba(0, 0, 0, 0.562);
    padding-top: 200px;
    padding-bottom: 200px;
    border-radius:20px;
    padding-left:50px;
    padding-right: 50px;
  }
  main{
    
    
    /*background: url('https://github.com/jokessenich/corky/blob/master/IMG_1087.JPG?raw=true') no-repeat center center fixed;
  */
  }

  a {
    color: rgb(64, 100, 59);
    font-size:30pt;
    text-decoration: none;
    padding:10px
  }

  a:hover{
    cursor: pointer;
    background-color: #ffd6b9;
    color:black;
    border-radius: 10px;
  }

  ul{
    font-family: 'Roboto', sans-serif;
    color: rgb(50, 80, 46);
      display: flex;
      flex-direction: row;
      list-style-type: none;
      justify-content: flex-end;	
      background-color: transparent;
      height:0;
      margin:0;
  }
  
  li{
    margin-right:50px;
    padding-top: 20px;

  }

  header{
      margin-top: 100px;
  }

.header{
  background: url('https://images.pexels.com/photos/1005324/literature-book-open-pages-1005324.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center fixed;
    color: wheat;
      margin-left:auto;
      margin-right: auto;
      width:70%;
      text-align: center;
      font-family: 'Cinzel';
      border-radius:20px;
  }

  h1#hero {
    font-size: 4em;
}

.quote-fill{
  font-family: 'Cinzel';
  width:70%;
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;

}

.corky-picture{
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

.corky-picture>img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}